.cabecalho {
   background-color: #056DB9;
   color: white;
   display: flex;
   justify-content: center;
   font-family: 'Alkatra', cursive;
   font-family: 'Noto Sans JP', sans-serif;
   font-family: 'Nunito Sans', sans-serif;
}

.cabecalho-imagem {
   height: 25%;
   width: 10%;
   background-color: #056DB9;
   border-radius: 100%;
  

}

.titulo-escola {
   display: inline-block;
   margin: 52px
}

.nome {
   display: inline-block;
   margin: 60px 16px;
   padding: 0px 0px;
   font-size: 20px;


}

* {
   margin: 0;
   padding: 0
}

.titulo2 {
   background-image: linear-gradient((blue), (purple));
   color: rgb(252, 252, 252);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 24px 0;
}

.divisao {
   width: 35%;

}

.karavivi {
   padding: 24px 0;
   color: black;

}

#texto-principal {
   font-family: 'Alkatra', cursive;
   font-family: 'Noto Sans JP', sans-serif;
   font-family: 'Nunito Sans', sans-serif;
   font-size: 20px;

}

#foto-principal {
   width: 10%;
   



}

.estudante-icone {
   width: 3%;

}

.estudante-imagem {
   border-radius: 10%;
   width: 35%;


}

.rodape {
   background-color: #056DB9;
   text-align: center;
   align-items: center;
   color: white;


}


.rodape-imagem {
   height: 15%;
   width: 10%;
   background-color: #056DB9;
   align-items: center;
   color: white;

}

.estudante-todos {
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   text-align: center;
}

.estudante-titulo {
   display: flex;
   font-display: center;
   text-align: center;
   justify-content: center;
   padding: 10px, 0px,

}

.title {
   text-align: center;


}

.projeto-demo {
   width: 900px;
   height: 600px;
   display: grid;


}




.projeto {
   display: grid;

}

.titulo-demo {
   text-align: center;
   color: black;

}

.estudante-raissa {
   width: 170px;
   height: 150px;
   border-radius: 10%;

}

.estudante-victor {
   width: 170px;
   height: 150px;
   border-radius: 10%;



}

.estudante-dembicki {
   width: 170px;
   height: 150px;
   border-radius: 10%;

}

.estudante-karine {
   width: 170px;
   height: 150px;
   border-radius: 10%;


}

#texto-principal {
   color: black;

}


li {
   float: left;
}


li a,
.dropbtn {
   display: inline-block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
   background-color: rgb(0, 0, 0);
}

li.dropdown {
   display: inline-block;
   display: inline-block;
   margin: 60px 16px;
   padding: 7px 15px;
   font-size: 20px;
}



* {
   margin: 45px;
   padding: 45px;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: center;
}

.dropdown-content a:hover {
   background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
   display: block;

}

.formulario {
   width: 400px;
   padding: 30px;
   border: 1px solid #ccc;
}

.formulario p {
   width: 100%;
   font-size: 1.5em;
}

.field {
   width: 100%;
   margin: 15px 0;
}

.field label,
.field span {
   padding-left: 10px;
   font-size: 1.1em;
   display: block;
   width: 100%;
}

.radiobox label {
   width: auto;
   display: inline-block;
}

input[type=text],
input[type=email],
textarea {
   width: 100%;
   padding-left: 10px;
   height: 30px;
   line-height: 30px;
   border-radius: 15px;
   border: 1px solid #ccc;
   outline: none;
}

input#nao {
   margin-left: 30px;
}

textarea {
   line-height: 20px;
   padding: 10px;
   height: 90px;
   resize: none;
}

input[type=submit] {
   display: block;
   background-color: #ccc;
   height: 35px;
   border: none;
   outline: 0;
   cursor: pointer;
   width: 100px;
   margin: 0 auto;
   text-align: center;
   border-radius: 15px;
}

.banner {
   text-align: center;

}

#texto-programacao {
   font-family: 'Alkatra', cursive;
   font-family: 'Noto Sans JP', sans-serif;
   font-family: 'Nunito Sans', sans-serif;
   font-size: 20px;
}

* {
   margin: 0;
   padding: 0;
}

.slider {
   display: block;
   height: 293px;
   width: 600px;
   margin: auto;
   margin-top: 20px;
   position: relative;
   padding-left: 30, 50, 30, 50;
}

.slider li {
   list-style: none;
   position: absolute;
}

.slider img {
   margin: auto;
   height: 100%;
   width: 100%;
   vertical-align: top;
}

.slider input {
   display: none;
}

.slider label {
   background-color: #000;
   bottom: 10px;
   cursor: pointer;
   display: block;
   height: 10px;
   position: absolute;
   width: 10px;
   z-index: 10;
}

.slider li:nth-child(1) label {
   left: 10px;
}

.slider li:nth-child(2) label {
   left: 40px;
}

.slider li:nth-child(3) label {
   left: 70px;
}

.slider img {
   opacity: 0;
   visibility: hidden;
}

.slider li input:checked~img {
   opacity: 1;
   visibility: visible;
   z-index: 10;
}

@media screen and (max-width: 704px) {  
   .estudante-todos {
      display: grid;
      grid-template-columns: 50% 50%;

}
}

@media screen and (max-width: 704px){
   .foto-principal{
      display: block;
      width: 25%;
      height: 25%
   }

}

@media screen and (max-width: 704px){
   .slider{
      width: 25%;
      height: 25%
   }
}